[submodule "app/src/ThirdParty/OpenXR-SDK-Source"]
	path = app/src/ThirdParty/OpenXR-SDK-Source
	url = https://github.com/KhronosGroup/OpenXR-SDK-Source
[submodule "app/src/ThirdParty/glm"]
	path = app/src/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "app/src/ThirdParty/imgui"]
	path = app/src/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
